.App {
  text-align: center;
}


.btn {
  width: 100%;
  border-radius: 24px !important;
  text-transform: capitalize !important;
  height: 40px;
  font-size: 15px;
  margin-top: 10px !important;
  margin-bottom: 20px !important;
}
.btn-primary {
  background-color: #1c7bdf;
  color: white;
}